<#-- -->

<@li.window id="edit_win" title="添加资源">
	<@li.form id="resource_add" action="resource_save.do">
		<@li.control label="名称">
			<input name="resource.name" check-type="required"/>
		</@li.control>
		<@li.control label="描述">
			<input name="resource.description" check-type="required"/>
		</@li.control>
	</@li.form>
	<@li.button>
		<a href="#" class="btn" data-dismiss="modal">取消</a>
        <input type="button" class="btn btn-primary submit" value="保存">
	</@li.button>
</@li.window>