<@li.table list=list;each>
	<@li.tr title="ID">${each.id}</@li.tr>
	<@li.tr title="名称">${each.name }</@li.tr>
	<@li.tr title="描述">${each.description}</@li.tr>
	<@li.tr title="操作">
		<a class="window" href="resource_edit.do?id=${each.id}">修改</a>
		<a class="delete" href="resource_delete.do?id=${each.id}">删除</a>
	</@li.tr>
</@li.table>

<@li.page pg=page url="resource_list.do" pn="page"/>
<a class="btn btn-primary window" href="resource_add.do"><i class="icon-plus"></i>添加</a>

<script type="text/javascript">
	$(".delete").click(function() {
		return doDelete($(this));
	});

	$(".window").click(function() {
		return doWindow($(this));
	});
	
	function reload() {
		$(".span9").load("resource_list.do?page=${page.pageNumber}");
	}
</script>