<form class="well form-search">
	<input class="input" placeholder="搜索会员"/>
	<a class="btn btn-primary"><i class="icon-search icon-white"></i>搜索</a>
</form>

<@li.table list=list;each>
	<@li.tr title="ID">${each.id}</@li.tr>
	<@li.tr title="学号">${each.studentId }</@li.tr>
	<@li.tr title="生日">${each.birthday}</@li.tr>
	<@li.tr title="性别">${each.sex}</@li.tr>
	<@li.tr title="姓名">${each.name}</@li.tr>
	<@li.tr title="状态">${each.status}</@li.tr>
	<@li.tr title="操作">
		<a class="window" href="people_edit.do?id=${each.id}">修改</a>
	</@li.tr>
</@li.table>

<@li.page pg=page url="people.do" pn="page"/>
<a class="btn btn-primary window" href="people_add.do"><i class="icon-plus"></i>添加</a>