<@li.table list=list;each>
	<@li.tr title="ID">${each.id}</@li.tr>
	<@li.tr title="学号">${each.studentId }</@li.tr>
	<@li.tr title="生日">${each.birthday}</@li.tr>
	<@li.tr title="性别">${each.sex}</@li.tr>
	<@li.tr title="姓名">${each.name}</@li.tr>
	<@li.tr title="状态">${each.status}</@li.tr>
	<@li.tr title="操作">
		<a class="window" href="people_edit.do?id=${each.id}">修改</a>
	</@li.tr>
</@li.table>
<@li.page pg=page url="people.do" pn="page"/>

<script type="text/javascript">
$(document).ready(function() {
	$("a.window").click(function() {
		$.ajax({
			url : $(this).attr("href"),
			dataType : "html"
		}).done(function(data) {
			$(data).modal();
		});
		return false;
	});
});
</script>