<#-- -->

<form class="well form-search">
	<input class="input" placeholder="搜索应用"/>
	<a class="btn btn-primary"><i class="icon-search icon-white"></i>搜索</a>
</form>

<@li.table cols=6 list=list;each>
	<@li.tr title="ID">${each.id}</@li.tr>
	<@li.tr title="应用">${each.username }</@li.tr>
	<@li.tr title="邮箱">${each.email}</@li.tr>
	<@li.tr title="角色">${each.role_name!}</@li.tr>
	<@li.tr title="状态">${each.status}</@li.tr>
	<@li.tr title="操作">
		<a class="window" href="app_edit.do?id=${each.id}">修改</a>
		<a class="delete" href="app_delete.do?id=${each.id}">删除</a>
	</@li.tr>
</@li.table>

<@li.page pg=page url="app_list.do" pn="page"/>
<a class="btn btn-primary window" href="app_add.do"><i class="icon-plus"></i>添加</a>