<!DOCTYPE html>
<html lang="en">
<head>
<title>System</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="这里是页面的描述">
<meta name="author" content="limingwei@mail.com">
<#include "css.htm"/>
<#include "js.htm"/>
</head>
<body>
	<#include "top.htm"/>
	<div class="container-fluid">
		<div class="row-fluid">
			<#include "left.htm"/>
			<div class="span9">
				<!--  -->
				<div class="hero-unit">
					<h1>welcome</h1>
				</div>
				<!--  -->
			</div>
		</div>
		<hr>
		<footer>
			<p>&copy; System 2012</p>
		</footer>
	</div>
</body>
</html>