<!DOCTYPE html>
<html lang="en">
<head>
<title>EDM</title> 
<#include "meta.htm"/> 
<#include "css.htm"/>
<#include "js.htm"/>

<style type="text/css">
body {
	padding-top: 60px;
	padding-bottom: 40px;
}

.sidebar-nav {
	padding: 9px 0;
}
</style>
<script>
	function endWith(string, str) {
		if (string.length < str.length)
			return false;
		if (string == str)
			return true;
		if (string.substring(string.length - str.length) == str)
			return true;
		return false;
	}
	
	function ajaxPost(form){
		$.ajax({
			type:'POST',
			url : $(form).parent().prev().children("form").attr("action"),
			data : $(form).parent().prev().children("form").serialize()
		}).done(function(data) {
			if (endWith(data, "成功")) {
				$(".modal").modal("hide");
				reload();
			} else {
				alert(data);
			}
		});
	}
</script>
</head>
<body>
	<#include "top.htm"/>
	<div class="container-fluid">
		<div class="row-fluid">
			<#include "left.htm"/>
			<div class="span9"><#include "right.htm"/></div>
		</div>
		<#include "foot.htm"/>
	</div>
</body>
</html>