<!DOCTYPE html>
<html lang="en">
<head>
<title>System</title> 
<#include "meta.htm"/> 
<#include "css.htm"/>
<#include "js.htm"/>

<style type="text/css">
body {
	padding-top: 60px;
	padding-bottom: 40px;
}

.sidebar-nav {
	padding: 9px 0;
}
</style>

<script type="text/javascript">
	function ajaxPost(form) {
		$.ajax({
			type : 'POST',
			url : $(form).attr("action"),
			data : $(form).serialize()
		}).done(function(data) {
			if (data.indexOf("成功") > -1) {
				$(".modal").modal("hide");
				reload();
			} else {
				alert(data);
			}
		});
	}

	function doWindow(target) {
		$(".modal").remove();
		$.ajax({
			url : $(target).attr("href"),
			dataType : "html"
		}).done(function(data) {
			$("body").append(data);
			$(".modal").modal();
		});
		return false;
	}

	function doDelete(target) {
		if (confirm("确认删除这条数据?")) {
			$.ajax({
				type : 'POST',
				url : $(target).attr("href"),
				dataType : "html"
			}).done(function(data) {
				if (data.indexOf("成功") > -1) {
					reload();
				} else {
					alert(data);
				}
			});
		}
		return false;
	}
</script>

</head>
<body>
	<#include "top.htm"/>
	<div class="container-fluid">
		<div class="row-fluid">
			<#include "left.htm"/>
			<div class="span9"><#include "right.htm"/></div>
		</div>
		<#include "foot.htm"/>
	</div>
</body>
</html>