<!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<script src="source/jquery-1.8.2.min.js"></script>
<script src="source/bootstrap/js/bootstrap.js"></script>
<script src="source/bootstrap/js/bootstrap-transition.js"></script>
<script src="source/bootstrap/js/bootstrap-alert.js"></script>
<script src="source/bootstrap/js/bootstrap-modal.js"></script>
<script src="source/bootstrap/js/bootstrap-dropdown.js"></script>
<script src="source/bootstrap/js/bootstrap-scrollspy.js"></script>
<script src="source/bootstrap/js/bootstrap-tab.js"></script>
<script src="source/bootstrap/js/bootstrap-tooltip.js"></script>
<script src="source/bootstrap/js/bootstrap-popover.js"></script>
<script src="source/bootstrap/js/bootstrap-button.js"></script>
<script src="source/bootstrap/js/bootstrap-collapse.js"></script>
<script src="source/bootstrap/js/bootstrap-carousel.js"></script>
<script src="source/bootstrap/js/bootstrap-typeahead.js"></script>

<script type="text/javascript">
	function ajaxPost(form) {
		$.ajax({
			type : 'POST',
			url : $(form).attr("action"),
			data : $(form).serialize()
		}).done(function(data) {
			if (data.indexOf("成功") > -1) {
				$(".modal").modal("hide");
				reload();
			} else {
				alert(data);
			}
		});
	}

	function doWindow(target) {
		$(".modal").remove();
		$.ajax({
			url : $(target).attr("href"),
			dataType : "html"
		}).done(function(data) {
			$("body").append(data);
			$(".modal").modal({backdrop:"static",keyboard:false,show:true});
		});
		return false;
	}

	function doDelete(target) {
		if (confirm("确认删除这条数据?")) {
			$.ajax({
				type : 'POST',
				url : $(target).attr("href"),
				dataType : "html"
			}).done(function(data) {
				if (data.indexOf("成功") > -1) {
					reload();
				} else {
					alert(data);
				}
			});
		}
		return false;
	}
</script>