<#-- 左侧导航 20121119 limingwei@mail.com-->

<div class="span2">
	<div class="well sidebar-nav">
		<ul class="nav nav-list">
			<li class="nav-header">用户管理</li>
			<@li.menu text="账号管理" url="account_list.do"/>
			<@li.menu text="资源管理" url="resource_list.do"/>
			<@li.menu text="角色管理" url="role_list.do"/>
			<li class="nav-header">会员管理</li>
			<@li.menu text="会员管理" url="people_list.do"/>
			<@li.menu text="部门管理" url="department_list.do"/>
			<@li.menu text="干事管理" url="secretary_list.do"/>
			<li class="nav-header">财务管理</li>
			<@li.menu text="财务记录" url="bill_list.do"/>
			<li class="nav-header">邮件管理</li>
			<@li.menu text="邮件服务器" url="server_list.do"/>
			<li class="nav-header">微博管理</li>
			<@li.menu text="应用管理" url="app_list.do"/>
			<li class="nav-header">更多功能</li>
			<@li.menu text="bootstrap_datepicker" url="bootstrap_datepicker.do"/>
			<@li.menu text="bootstrap_validation" url="bootstrap_validation.do"/>
		</ul>
	</div>
</div>

<script type="text/javascript">
	$(".nav-list a").each(function(index, item) {
		$(this).click(function() {
			$(".active").removeClass("active");
			$(this).parent().addClass("active");
			$.ajax({
				url : $(this).attr("href"),
				cache : false,
				statusCode : {
					302 : function() {
						location.href = "login.do?302";
					}
				}
			}).done(function(data) {
				$(".span9").html(data);
			});
			return false;
		});
	});
</script>