<#-- 左侧导航 20121119 limingwei@mail.com-->
<div class="span3">
	<div class="well sidebar-nav">
		<ul class="nav nav-list">
			<li class="nav-header">会员管理</li>
			<li class="active"><a href="#">汪书记最英明</a></li>
			<li><a href="people_list.do">会员管理</a></li>
			<li><a href="#">汪书记最英明</a></li>
			<li><a href="#">汪书记最英明</a></li>
			<li class="nav-header">薄熙来在任时</li>
			<li><a href="#">薄书记最英明</a></li>
			<li><a href="#">薄书记最英明</a></li>
			<li><a href="#">薄书记最英明</a></li>
			<li><a href="#">薄书记最英明</a></li>
			<li><a href="#">薄书记最英明</a></li>
			<li><a href="#">薄书记最英明</a></li>
			<li class="nav-header">薄熙来下台了</li>
			<li><a href="#">中央最英明</a></li>
			<li><a href="#">中央最英明</a></li>
			<li><a href="#">中央最英明</a></li>
		</ul>
	</div>
</div>
<script>
	$(".nav-list a").each(function(index,item){
		$(this).click(function(){
			$(".span9").load($(this).attr("href"));
			$(".active").removeClass("active");
			$(this).parent().addClass("active");
			return false;
		});
	});
</script>