<#-- 顶部导航 20121119 limingwei@mail.com-->
<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container-fluid">
			<a class="btn btn-navbar" data-toggle="collapse"
				data-target=".nav-collapse"> <span class="icon-bar"></span> <span
				class="icon-bar"></span> <span class="icon-bar"></span>
			</a> <a class="brand" href="#">EDM</a>
			<div class="nav-collapse">
				<ul class="nav">
					<li class="active"><a href="#">首页</a></li>
					<li><a href="#about">关于</a></li>
					<li><a href="#contact">联系</a></li>
					<li><a href="login.do">登陆</a></li>
					<li><a href="register.do">注册</a></li>
					<li><a target="_blank"
						href="http://wrongwaycn.github.com/bootstrap/docs/javascript.html">Bootstrap插件</a></li>
				</ul>
				<ul class="nav pull-right">
					<li>
						<p class="navbar-text">
							我代表<a href="#">人名</a>
						</p>
					</li>
					<li class="divider-vertical"></li>
					<li class="dropdown"><a href="#" class="dropdown-toggle"
						data-toggle="dropdown">下拉 <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="#">动作</a></li>
							<li><a href="#">另一个动作</a></li>
							<li><a href="#">其他动作</a></li>
							<li class="divider"></li>
							<li class="nav-header">导航头</li>
							<li><a href="#">被间隔的链接</a></li>
							<li><a href="#">另一个链接</a></li>
						</ul></li>
				</ul>
			</div>
			<!--/.nav-collapse -->
		</div>
	</div>
</div>