<@li.window id="edit_win" title="修改角色">
	<@li.form id="role_edit" action="role_update.do">
		<input name="role.id" type="hidden" value="${role.id!}"/>
		<@li.input label="名称" value="${role.name!}"/>
		<@li.input name="role.description" label="描述" value="${role.description!}"/>
		<@li.control label="权限">
			<#list resources as each>
				<label class="checkbox inline">
		        	<input type="checkbox" name="resource_id" value="${each.id}" <#if role.resourceIds?seq_contains(each.id?number)>checked</#if>>${each.description} 
		    	</label>
			</#list>
		</@li.control>
	</@li.form>
	<@li.button>
		<a href="#" class="btn" data-dismiss="modal">取消</a>
        <a href="#" class="btn btn-primary submit" id="save">保存</a>
	</@li.button>
</@li.window>