<#-- -->

<@li.window id="edit_win" title="修改角色">
	<@li.form id="role_edit" action="role_update.do">
		<input name="role.id" type="hidden" value="${role.id!}"/>
		<@li.input name="role.name" label="名称" value="${role.name!}"/>
		<@li.input name="role.description" label="描述" value="${role.description!}"/>
		<@li.control label="权限">
			<table>
			  <!-- <tr>
			    <td>已有权限</td>
			    <td></td>
			    <td>未有权限</td>
			  </tr> -->
			  <tr>
			    <td>
				    <select multiple="multiple" id="resource_have" class="input-medium">
		                <#list resource_have as each>
		                	<option value="${each.id}">${each.description}</option>		                	
		                </#list>
	              	</select>
			    </td>
			    <td style="width:10px;">
			    	<a id="go_right" class="btn">>></a>
			    	<a id="go_left" class="btn"><<</a>
			    </td>
			    <td>
				    <select multiple="multiple" id="resource_not_have" class="input-medium">
		                <#list resource_not_have as each>
		                	<option value="${each.id}">${each.description}</option>		                	
		                </#list>
	              	</select>
			    </td>
			  </tr>
			</table>
		</@li.control>
	</@li.form>
	<@li.button>
		<input type="button" class="btn" data-dismiss="modal" value="取消">
        <a type="button" class="btn btn-primary submit" id="save">保存</a>
	</@li.button>
</@li.window>

<script type="text/javascript">
	$(document).ready(function(){
		$("a#save").click(function() {
			$("select#resource_have option").each(function(){
				$("form#role_edit").append("<input type='hidden' name='resource_id' value='"+$(this).attr("value")+"'/>");
			});
			ajaxPost($("form#role_edit"));
		});

		$("a#go_right").click(function(){
			$("select#resource_have").find("option:selected").each(function(){
				$("select#resource_not_have").prepend("<option value='"+$(this).attr("value")+"'>"+$(this).text()+"</option>");
				$(this).remove();
			});
		});

		$("a#go_left").click(function(){
			$("select#resource_not_have").find("option:selected").each(function(){
				$("select#resource_have").prepend("<option value='"+$(this).attr("value")+"'>"+$(this).text()+"</option>");
				$(this).remove();
			});
		});

		$("select#resource_have").dblclick(function(){
			$("a#go_right").click();
		});
		
		$("select#resource_not_have").dblclick(function(){
			$("a#go_left").click();
		});
	});
</script>