<#-- -->

<@li.window id="edit_win" title="账号添加">
	<@li.form id="account_save" action="account_save.do">
		<@li.input name="account.username" label="用户名"/>
		<@li.input name="account.email" label="邮箱"/>
		<@li.input name="account.password" type="password" label="密码"/>
		<@li.input name="password2" type="password" label="重复密码"/>
		<@li.select name="account.role_id" label="角色" list=roles key="id" val="name"/>
	</@li.form>
	<@li.button>
		<a href="#" class="btn" data-dismiss="modal">取消</a>
        <input type="button" class="btn btn-primary submit" value="保存">
	</@li.button>
</@li.window>

<script type="text/javascript">
	$(document).ready(function(){
		$("form#account_save").find("input,select").each(function(){
			$(this).blur(function(){
				if(""==$(this).val()){
					$(this).closest("div.control-group").addClass("error"); 
					$(this).after("<span class='help-inline'><abbr title='这里不允许为空'>非空</abbr></span>");
				}else{
					$(this).closest("div.control-group").removeClass("error");
					$(this).next("span.help-inline").remove();
				}
			});
		});

		$("form#account_save").find("input,select").each(function(){
			$(this).blur();
		});
	});
</script>