<#-- -->

<@li.window id="edit_win" title="账号添加">
	<@li.form id="account_save" action="account_save.do">
		<@li.control label="用户名">
			<input name="account.username" check-type="required ajax" ajax-url="username_check.do"/>
		</@li.control>
		<@li.control label="邮箱">
			<input name="account.email" check-type="mail"/>
		</@li.control>
		<@li.control label="密码">
			<input type="password" id="password" name="account.password" check-type="required equal" equal-to="#password2"/>
		</@li.control>
		<@li.control label="重复密码">
			<input id="password2" name="password2" check-type="equal required" equal-to="#password"/>
		</@li.control>
		<@li.select name="account.role_id" label="角色" list=roles key="id" val="name"/>
	</@li.form>
	<@li.button>
		<a href="#" class="btn" data-dismiss="modal">取消</a>
        <input type="button" class="btn btn-primary submit" value="保存">
	</@li.button>
</@li.window>

<#--
<script type="text/javascript">
	$("input.submit").click(function() {
		if($("form#account_save").vali()){
			ajaxPost($("form#account_save"));
		}
	});
</script>

<script type="text/javascript">
	$(document).ready(function(){
		$("form#account_save").find("input,select").each(function(){
			$(this).blur(function(){
				if(""==$(this).val()){
					$(this).closest("div.control-group").addClass("error"); 
					$(this).after("<span class='help-inline'><abbr title='这里不允许为空'>非空</abbr></span>");
				}else{
					$(this).closest("div.control-group").removeClass("error");
					$(this).next("span.help-inline").remove();
				}
			});
		});

		$("form#account_save").find("input,select").each(function(){
			$(this).blur();
		});
	});
</script>
-->