<@li.window id="edit_win" title="修改">
	<@li.form id="account_edit" action="account_update.do">
		<@li.input name="account.id"  type="hidden" value="${account.id}"/>
		<@li.input name="username" label="用户名" value="${account.username}" readonly="1"/>
		<@li.input name="account.email" label="邮箱" value="${account.email}"/>
		<@li.input name="password" type="password" label="新密码" placeholder="不修改请留空"/>
		<@li.input name="password2" type="password" label="重复新密码" placeholder="不修改请留空"/>
		<@li.select name="account.role_id" label="角色" list=roles key="id" val="name" value="${account.role_id}"/>
	</@li.form>
	<@li.button>
		<a href="#" class="btn" data-dismiss="modal">取消</a>
        <a href="#" class="btn btn-primary" id="save">保存</a>
	</@li.button>
</@li.window>

<script>
	$("a#save").click(function() {
		ajaxPost($("#account_edit"));
	});
</script>